<!doctype html>
<html>
<head>
    <title>API Help</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>API Help</h1>

    In construction…

    <h2>Authentication</h2>

    <table>
        <thead>
            <th>Type</th>
            <th>URL</th>
            <th>Params</th>
        </thead>
        <tbody>
            <td>POST</td>
            <td>api/authenticate</td>
            <td><ul><li>email</li><li>password</li></ul></td>
        </tbody>
    </table>

    <hr>

    <p>Need an account? <a href="/api/signup">Signup</a></p>
    <p>Or go <a href="/api">home</a>.</p>

</div>
</div>
</body>
</html>
